@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    background-color: #00476b;
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

a  {
    text-decoration: none;
    color: #222; 
}

/*------------------------ Nav-Background-Picture ------------------------*/

.navbar {
    display: flex;
}


.nav-background {

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.nav-background svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 106px;
    transform: rotateY(180deg);
}

.nav-background .shape-fill {
    fill: #00c28a;
}


.navbar-title {
    text-decoration: none;
    color: black;
}

.nav-background:hover {
    color: #00c28a;
}



/*------------------------ Nav-Breadcrumb ------------------------*/



.breadcrumb-nav {

    display: flex;
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
  
}

.breadcrumb {

    display: flex;
    align-items: center;
    background-color: #ccc;
    max-width: 330px;
    width: 100%;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    margin-bottom: 45px;
}


li .breadcrumb-item {
    text-decoration: none;
    list-style: none;
}







.admin_profile {
    padding-top: 14px;
}



.adminprofile_btn {

    background-color: #ccc;
    font-family: "Montserrat", sans-serif;
    color: black;
    border-color: #222;    
    transition: 0s;
    padding: 5px;
    border-radius: 2px;

}



.adminprofile_btn:hover {

    background-color: #ccc;
    font-family: "Montserrat", sans-serif;
    color: black;
    border-color: #222;    
    opacity: 0.8;
}



.divadduser_button {
    display: flex;
    justify-content: center;
    margin-right: 130px;
    margin-left: 22px;
    padding-top: 14px;  
    padding-right: 50px;  

}

.divadduser_button a {

    background-color: #ccc;
    font-family: "Montserrat", sans-serif;
    color: black;
    border-color: #222;    
    transition: 0s;

}

.divadduser_button a:hover {
    background-color: #ccc;
    font-family: "Montserrat", sans-serif;
    color: black;
    border-color: #00476b;
    opacity: 0.8;
} 











.container {
    display: flex;
}

.container-table {

    margin-top: 15px;
    margin-left: 160px;

}

.container-table h1 {
    background-color: #00c28a;
    max-width: 235px;
    border-radius: 5px;
    font-weight: 900;
}

.table {

    background-color: #00c28a;
    border-color: black;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;

}

.action-box {
    border-bottom-width: none;

}

.table>:not(caption)>*>* {
    
    border-bottom-width: none;

}

.action-btn {
    background-color: grey;
    justify-content: space-evenly;
}


.search-bar {
    display: flex;
    padding-left: 20px;
    padding-top: 15px ;
    
}

.searchuser_bar {
    background-color: #ccc;
}

.searchuser_bar:hover {
    background-color: #ccc;
}